= full_pack 'caro'

h1.center Chơi ca rô
p Chế độ hai người chơi trên cùng máy, có hai quân là tròn (xanh lá) và chéo (đỏ), tròn sẽ đi trước.
p Hết cờ khi có người thắng cuộc. Điều kiện thắng: có đúng 5 quân ngang hoặc dọc hoặc chéo liên tiếp và không bị chặn hai đầu.
caro
p.ps Tương lai sẽ có chế độ cho hai người chơi online.
