* {
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: 50px;
}
h1, h2, h3, h4, p, label, input, ul, ol, a, table {
  font-family: 'Literata', serif;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
p, label, input, textarea {
  font-size: 18px;
}
code {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}
h1 {
  a {
    color: #000;
  }
}
a {
  text-decoration: none;
}
.link {
  color: #fb4934;
  border-bottom: 1px solid #fb4934;
  padding-bottom: 1px;
  &:hover {
    color: #000;
    border-bottom: 1px solid #000;
  }
}
#container {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 10px;
  .f-control {
    margin-bottom: 15px;
  }
  .btn {
    background: #ffdcbe;
    border: none;
    padding: 10px 15px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background: #d7bbde 75%;
    }
  }
  .f-input, textarea {
    width: 100%;
    font-family: 'Literata', serif;
  }
  input {
    padding: 3px 10px;
  }
  textarea {
    padding: 10px;
  }
  p {
    line-height: 1.7;
    code {
      background: #fff2f0;
      padding: 1px 4px;
      border-radius: 3px;
      color: #fb4934;
    }
  }
  .post-body {
    text-align: justify;
    text-justify: inter-word;
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
    h1, p, ul, ol {
      margin-bottom: 20px;
    }
    h2 {
      margin-top: 25px;
    }
    h2, h3, h4 {
      margin-bottom: 10px;
    }
    ul, ol {
      list-style-position: inside;
      line-height: 1.7;
      font-size: 18px;
    }
    a {
      color: #fb4934;
      border-bottom: 1px solid #fb4934;
      padding-bottom: 1px;
      &:hover {
        color: #000;
        border-bottom: 1px solid #000;
      }
      &:visited {
        color: #fb4934;
        border-bottom: 1px solid #fb4934;
      }
    }
  }
}

.center {
  text-align: center;
}

#caro {
  margin: 30px 0;
}

.ps {
  font-style: italic;
  color: #777;
}

::marker {
  color: #c8c8c8;
  font-family: sans-serif;
  font-weight: bold
}

.pagination {
  text-align: center;
  font-size: 18px;
  * {
    font-family: 'Inconsolata', monospace;
  }
  a {
    color: #fb4934;
    &:hover {
      color: #000;
    }
    &:visited {
      color: #fb4934;
    }
  }
}
