$main-red: #fb4934;
$error-red: #7b0000b0;
$gray: #777;
$bgcode-red: #fff2f0;

* {
  margin: 0;
  padding: 0;
}
html {
  background: #f7f7f5;
}
body {
  margin-bottom: 50px;
}
p, label, input, ul, ol, a, table, strong, em, span, legend {
  font-family: 'Dosis', sans-serif;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Dosis', sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
p, label, input, textarea {
  font-size: 18px;
}
code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}
h1, h2 {
  a {
    color: #000;
    font-family: 'Dosis', sans-serif;
    border: none !important;
  }
}
a {
  text-decoration: none;
}
.link {
  color: $main-red;
  border-bottom: 1px solid $main-red;
  padding-bottom: 1px;
  &:hover {
    color: #000;
    border-bottom: 1px solid #000;
  }
}
#container {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 10px;
  .f-control {
    margin-bottom: 15px;
  }
  .btn {
    background: #ffdcbe;
    border: none;
    padding: 10px 15px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background: #d7bbde 75%;
    }
  }
  .input-info {
    color: $gray;
    font-size: 14px;
    font-style: italic;
  }
  .f-input, textarea {
    width: 100%;
    font-family: 'Dosis', sans-serif;
  }

  .bf-input {
    width: 96%;
  }

  fieldset {
    padding: 5px 15px;
    legend {
      font-weight: bold;
    }
  }

  input {
    padding: 3px 10px;
  }
  textarea {
    padding: 10px;
  }
  p {
    line-height: 1.7;
    code {
      background: $bgcode-red;
      padding: 1px 4px;
      border-radius: 3px;
      color: $main-red;
    }
  }
  .post-body {
    text-align: justify;
    text-justify: inter-word;
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
    h1, p, ul, ol {
      margin-bottom: 20px;
    }
    h2 {
      margin-top: 35px;
    }
    h2, h3, h4 {
      margin-bottom: 15px;
    }
    ul, ol {
      list-style-position: inside;
      line-height: 1.7;
      font-size: 18px;
    }
    a {
      color: $main-red;
      border-bottom: 1px solid $main-red;
      padding-bottom: 1px;
      &:hover {
        color: #000;
        border-bottom: 1px solid #000;
      }
      &:visited {
        color: $main-red;
        border-bottom: 1px solid $main-red;
      }
    }
  }
}

.center {
  text-align: center;
}

#caro {
  margin: 30px 0;
}

.ps {
  font-style: italic;
  color: $gray;
}

::marker {
  color: #c8c8c8;
  font-family: sans-serif;
  font-weight: bold
}

.pagination {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  * {
    font-family: 'IBM Plex Mono', monospace;
  }
  a {
    color: $main-red;
    &:hover {
      color: #000;
    }
    &:visited {
      color: $main-red;
    }
  }
}

#feature-img {
  width: 100%;
}

.active-icon {
  color: $main-red;
}
.disable-icon {
  color: $gray;
}



.card {
  margin-top: 30px;
  height: 230px;
  background-color: #fff;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.card-cover {
  width: 100%;
  height: 100%;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background-image: linear-gradient(141deg, #ffdcbe 0%, #ffdcbe 51%, #eee 75%);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  color: #000;
}

.card .book-title {
  margin-bottom: 15px;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

// .card:hover .additional .more-info {
//   text-align: center;
// }

.card .additional .more-info {
  // width: 300px;
  // float: left;
  // position: absolute;
  // left: 150px;
  // height: 100%;
  padding: 10px 20px;
  text-align: center;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  height: 100%;
  position: absolute;
  top: 0;
  left: 150px;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}

.card .general .more {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 13px;
  color: $gray;
}
