.til_navigate {
  display: flex;
  .nav_day {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: 0.3s;
    color: #fb4934;
    &:hover {
      background: #fedabd;
      color: #000;
    }
  }
}
